.about-me {
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: #1C4A7B;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: none;
}

.header {
  font-family: 'Raleway';
  color: #1C4A7B;
}

.text {
  width: 400px;
  text-align: left;
  vertical-align: top;
  margin: auto;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Didact Gothic';
  color: grey;
}

.about-me-text {
  width: 700px;
  text-align: center;
}

.title {
  font-family: 'Raleway';
  color: #1C4A7B;
  text-align: center;
}

ul.education-list {
  margin-top: 0px !important;
  padding-inline-start: 20px !important;
}

.tech {
  margin: auto;
  margin-top: 20px;
  width: 800px;
  font-family: 'Raleway';
}

ul.tech-list {
  color: grey;
  padding-inline-start: 130px;
  width: 350px;
  font-family: 'Didact Gothic', sans-serif;
  text-align: left;
  font-size: 20px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin: auto;
  margin-top: 10px;
}